body {
    background-color: #1D7373;
}
h1,h2,h3 {
    color: #FFD073;
    text-align: center;
    background-color: #BF3030;
}
header {
    background-color: #BF3030;
    justify-content: space-around;
}
header img{
    width: 50px;
    height: 50px;
}
p {
    background-color: #BF8F30;
    font-family: Comic Sans MS;
}
img {
    width: 350px;
    height: 350px;
}
table {
    border-collapse: collapse;
    background-color: #BF8F30;
}
td {
     border: 2px solid #BF3030;
}
.nauru {
    display: flex;
    justify-content: center; 
    background-color: #BF8F30;
}
.fact {
    display: flex;
    justify-content: center; 
    background-color: #BF8F30;
}
.fact2 {
    display: flex;
    justify-content: center; 
    background-color: #BF8F30;
}
.fact img {
    width: 200px;
    height: 200px;
}
ul {
    margin-right: 200px;
}
.fact2 img {
    width: 15px;
    height: 10px;
}
footer p {
    background-color: #4671D5	;
}
header a {
    color: #FFD073;
    text-decoration: none;
}
.Facti {
    margin-left: 200px;
}
footer img {
    width: 70px;
    height: 70px;
}
nav {
    padding-bottom: 10px;
}
